<div class='jumbotron center'>
	<h1>Bem vindo: Felipe testando rails </h1>
	<p><%= link_to "Criar conta", "#", class: "btn btn-default"%> <%= link_to "Logar", "#", class: "btn btn-primary " %> </p>
</div>